@use "./ui.module.scss";

.footer {
  background-color: ui.$blue-900;
  padding: ui.$xxl;
  padding-top: ui.$xxh;
  color: ui.$blue-100;
  display: flex;
  flex-flow: row wrap;
  row-gap: ui.$h;
}

.logo {
  position: relative;
  width: 50px;
  aspect-ratio: 1;
  filter: brightness(0.7);
}
.leftPanel {
  flex: 1 1 1%;
  display: flex;
  gap: ui.$xxl;
  flex-flow: column nowrap;
  font: {
    size: ui.$s;
    weight: 300;
  }
  color: gray;
  p {
    max-width: 35ch;
  }
  a {
    color: inherit;
    text-decoration: none;
  }
  ul {
    display: flex;
    flex-flow: column nowrap;
    gap: ui.$xxs;
    margin-top: ui.$m;
    list-style: none;
  }
}

.copyright {
  display: flex;
  align-items: flex-end;
  color: grey;
  justify-content: center;
  flex: 1 1 33%;
  font: {
    size: ui.$xs;
  }
}

.rightPanel {
  // background-color: ui.$blue;
  flex: 1 1 1%;
  display: flex;
  flex-flow: column nowrap;
  gap: ui.$xxl;
  align-items: flex-end;
  justify-content: flex-end;
  color: grey;
  max-width: 35ch;
  font: {
    size: ui.$s;
  }
  p {
  }

  a {
    color: ui.$white;
  }
}

.contact {
  margin-top: ui.$m;
  display: flex;
  flex-flow: column nowrap;
  gap: ui.$xxs;
  list-style-type: none;
  
  a {
    gap: ui.$s;
    display: inline-flex;
    align-items: center;
    text-decoration: none;
  }
}
.socialMedia {
  display: flex;
  list-style-type: none;
  gap: ui.$m;
}

@media only screen and (max-width: 767px) {
  .leftPanel, .rightPanel {
    flex-basis: 100%;
  }
  .copyright {
    order: 1;
    flex-basis: 100%;
    text-align: center;
  }
}
