@use "./ui.module.scss";
.gallery {
  display: flex;
  flex-flow: row nowrap;
  max-height: 200px;
  overflow: hidden;
  position: relative;
}

.wrapper {
  position: relative;
  flex: 0 0 150px;

  height: calc(150px * ui.$e);
  &:not(&:nth-of-type(3)) {
    filter: grayscale(1);
    &:hover {
      transition: all 0.5s;
      transform: translateY(-10%);
      filter: grayscale(0);
    }
  }

  img {
    object-fit: cover;
  }
}
@keyframes shift {
  100% {
    transform: translateY(-100%);
  }
}

/* Tablet devices (768px to 1024px) */
@media (min-width: 768px) and (max-width: 1023px) {
}

/* Mobile devices (less than 768px) */
@media (max-width: 767px) {
  .gallery {
    width: 100%;
  }
  .wrapper {
    flex: 0 0 80px;
  }
}
