html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  scroll-behavior: smooth;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  // gap: 1rem;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}
header {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  padding: 2rem 0;
  width: 1024px;
}
