@use "./ui.module.scss";
.hero {
  display: flex;
  justify-content: space-between;
  border: 1px solid grey;
  border-radius: 0.5rem;

  overflow: hidden;
}

.copy {
  padding: 5rem 3rem;
  display: flex;
  flex-flow: column nowrap;
  gap: 1rem;
  text-align: justify;
  p {
    max-width: 35ch;
  }
  a {
    margin-top: 1rem;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    // background-color: rgb(250, 187, 71);
    background-color: orange;
    border: 2px solid orange;
    // align-self: flex-start;
    padding: 0.6rem 2rem 0.6rem 1rem;
    text: {
      transform: capitalize;
    }
    border-radius: 0.3rem;
    font: {
      weight: bold;
      size: 1.5rem;
    }
    svg {
      color: blanchedalmond;
    }
    box-shadow: -0.5rem 0.5rem 0rem blanchedalmond;

    &:hover {
      transition: all 0.3s;
      transform: translateY(3px);
      box-shadow: unset;
    }
  }
}

.heroImage {
  flex: 0 0 50%;
  position: relative;
  width: 100%;
  img {
    object-fit: cover;
  }
}

/* Tablet devices (768px to 1024px) */
@media (min-width: 768px) and (max-width: 1023px) {
  .hero {
    border-radius: 0;
  }
}

/* Mobile devices (less than 768px) */
@media (max-width: 767px) {
  .copy {
    padding: 2rem 1rem 5rem 1rem;
  }
  .hero {
    // width: 320px;
    border-radius: 0;
    border: none;
    flex-flow: column-reverse nowrap;
    
  }
  .heroImage {
    flex-basis: 250px;
  }
}
