@use "./ui.module.scss";
.hero {
  position: relative;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  min-height: 70dvh;
  width: 100dvw;
  background: radial-gradient(circle at 50% 50%, ui.$blue 50%, ui.$blue-500);
  color: ui.$white;
  overflow: hidden;
}

.leftPanel {
  flex: 1 1 33%;
  height: 100%;
  display: flex;
  gap: ui.$m;
  flex-flow: column nowrap;
  padding: ui.$h;
  padding-top: 120px;
  z-index: 1;
}

.title {
  font: {
    size: ui.$xxh;
  }
  line-height: ui.$xh;

  span {
    display: inline-block;
    color: ui.$yellow;
    transform: rotateZ(-5deg);
    font: {
      size: 120px;
    }
    border-bottom: 5px solid ui.$yellow;
    padding-bottom: ui.$s;
  }
  max-width: 7ch;
}

.subtitle {
  max-width: 35ch;
  color: ui.$blue-100;
}
.ctas {
  margin-top: ui.$xl;
  display: flex;
  flex-flow: row nowrap;
  gap: ui.$m;
  a {
    color: inherit;
    display: inline-flex;
    align-items: center;
    gap: ui.$xxs;
    text: {
      decoration: none;
    }

    border: 2px solid ui.$blue-100;
    padding: 0 ui.$l 0 ui.$s;
    height: 36px;
    border-radius: ui.$h;
    font: {
      weight: 600;
    }
    text-transform: uppercase;
    transition: all 0.3s;
    &:first-of-type {
      background-color: ui.$yellow;
      color: ui.$blue-900;
      border-color: ui.$yellow;
      &:hover {
        filter: contrast(1.2);
      }
    }
    &:last-of-type {
      &:hover {
        background-color: ui.$blue-100;
        color: ui.$blue-900;
      }
    }
  }
}

.rightPanel {
  padding-top: 120px;
  z-index: 1;
  flex: 1 1 33%;
  display: flex;
  padding: ui.$h;
  flex-flow: column nowrap;
  gap: ui.$l;
  justify-content: flex-end;
  align-items: flex-end;

  font: {
    size: ui.$l;
    weight: 300;
  }
  line-height: ui.$xxxl;
  padding-bottom: ui.$h;
}
.heroImage {
  position: absolute;
  height: 100%;
  width: 100%;
  bottom: 0;
  &:before {
    content: "";
    width: 100%;
    height: 100%;
    left: 0;
    position: absolute;
    background:
      radial-gradient(ellipse at 50% 40%, transparent, ui.$blue 50%),
      url("../../../public/hero_bkg.png");
    background-size: contain;
  }
  img {
    filter: drop-shadow(0 0 ui.$xxh rgba(ui.$white, 0.7))
      drop-shadow(0 0 ui.$xxs ui.$white);
    object: {
      fit: contain;
      position: bottom;
    }
  }
}

.happyEverAfters {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  background-color: ui.$white;
  color: ui.$blue-900;
  width: 280px;
  border-radius: ui.$s;
  padding: ui.$l ui.$s ui.$s ui.$s;
}
.happyEverAftersCopy {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-end;
  gap: ui.$s;

  p {
    display: inline-flex;
    align-items: center;
    column-gap: ui.$xxxs;
    &:first-of-type {
      line-height: ui.$m;
      font: {
        weight: 600;
        size: ui.$l;
      }
    }
    &:last-of-type {
      line-height: ui.$s;
      font: {
        size: ui.$s;
      }
    }
  }
}
.happyEverAftersImage {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  border-radius: ui.$s;
  width: 80px;
  aspect-ratio: 1;
  position: relative;
  img {
    object-fit: cover;
    z-index: 0;
    // display: none;
  }
  svg {
    color: ui.$blue;
    font: {
      size: ui.$xxxl;
    }
    padding: ui.$xxs;
    border: 1px solid ui.$white;
    z-index: 1;
    border-radius: 100%;
    background-color: ui.$white;
  }
}

.smallDonation {
  position: relative;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  background-color: ui.$blue-100;
  color: ui.$blue-900;
  width: 280px;
  border-radius: ui.$s;
  padding: ui.$h 0 0 ui.$s;
}
.smallDonationCopy {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-end;
  gap: ui.$s;
  padding-bottom: ui.$s;
  a {
    transition: all 0.3s;
    margin-top: ui.$xxl;
    text-decoration: none;
    font: {
      size: ui.$s;
      weight: 600;
    }
    color: ui.$blue-100;
    // border: 2px solid ui.$blue-500;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    align-self: flex-start;
    background-color: ui.$blue-500;
    padding: 0 ui.$l 0 ui.$s;
    height: 36px;
    border-radius: ui.$h;
    &:hover {
      background-color: ui.$yellow;
      color: ui.$blue-900;
    }
  }
  p {
    max-width: 20ch;
    &:first-of-type {
      line-height: ui.$xl;
      font: {
        weight: 800;
        size: ui.$xl;
      }
      color: ui.$blue-500;
    }
    &:last-of-type {
      line-height: ui.$s;
      font: {
        size: ui.$s;
      }
      color: ui.$blue-900;
    }
  }
}
.smallDonationImage {
  display: flex;
  position: absolute;
  bottom: -41px;
  right: -40px;
  height: 180px;
  aspect-ratio: 1;

  img {
    object-fit: cover;
    filter: drop-shadow(0 0 ui.$xxl ui.$blue-500);
  }
  svg {
    color: ui.$blue;
    font: {
      size: ui.$xxxl;
    }
    padding: ui.$xxs;
    border: 1px solid ui.$white;
    z-index: 1;
    border-radius: 100%;
    background-color: ui.$white;
  }
}

@media only screen and (max-width: 767px) {
  .title {
    font: {
      size: ui.$xh;
    }
  }

  .hero {
    min-height: 100dvh;
  }

  .leftPanel {
    padding: ui.$xl;
    padding-top: ui.$xxh;
  }

  .rightPanel {
    padding: ui.$xl;
    padding-top: ui.$xxh;
    padding-bottom: 250px;
  }
}
