@use "./ui.module.scss";
.nav {
  display: flex;
  // background-color: red;

  overflow-x: scroll;
  ul {
    display: flex;
    flex-flow: row nowrap;
    list-style-type: none;
    text-transform: capitalize;
    // border-bottom: 1px solid ui.$majorelle-blue;
    li {
      display: inline-flex;
      align-items: center;
      text-align: center;
      border-bottom: 1px solid transparent;
      padding: 0.5rem 1rem;

      &:hover {
        border-color: ui.$majorelle-blue;
      }
    }
    // justify-content: space-between;
  }
}



/* Mobile devices (less than 768px) */
@media (max-width: 767px) {
  .nav {
    ul{
      display: none;
    }
    
  }
}