@use "./ui.module.scss";
.plans {
  display: flex;
  flex-flow: column nowrap;
  gap: 3rem;
  padding: 3rem 2rem 0 2rem;
  background-color: ui.$majorelle-blue;
  border-top: {
    left-radius: 0.5rem;
    right-radius: 0.5rem;
  }
  h2 {
    color: white;
    text-transform: capitalize;
  }
  article {
    display: flex;
    justify-content: center;
    overflow: scroll;
    gap: 1rem;
    overflow: hidden;
  }
}

.animation {
  width: 300px;
  align-self: flex-end;

  canvas {
    object-fit: cover;
    margin-bottom: -1rem;
  }
}

.copy {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  button {
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    gap: 0.3rem;
    padding: 1rem;
    width: 9rem;
    height: 3rem;
    border-radius: 2rem;
    text-transform: uppercase;
    font: {
      weight: bold;
    }
    svg {
      font-size: 1.5rem;
    }
  }
  span {
    color: white;
  }
  h2 {
    margin-top: 1rem;
  }
}

.thumbnails {
  display: flex;
  list-style-type: none;
  li {
    border: 3px solid ui.$soft-periwinkle;
    position: relative;
    height: 50px;
    aspect-ratio: 1;
    border-radius: 100%;
    overflow: hidden;

    img {
      object-fit: cover;
    }
    &:not(&:first-of-type) {
      margin-left: -1rem;
    }
  }
}
.card {
  outline: 1px solid gainsboro;
  outline-offset: -10px;
  cursor: pointer;
  opacity: 0;
  transition: all 1s;
  flex: 0 0 250px;
  height: calc(250px / ui.$e);
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  border: 1px solid ui.$soft-periwinkle;
  border-radius: 0.5rem;
  gap: 0.3rem;
  color: black;
  background-color: white;
  animation: appear 1s forwards;
  position: relative;
  overflow: hidden;
  z-index: 0;
  &:hover {
    transition: all 0.5s;
    background-color: blanchedalmond;
    transform: rotateY(14deg) rotateX(10deg);
    box-shadow: 0 0 1rem black;
    &:before {
      animation: shimmer 0.5s linear forwards;
    }
    h3 {
      color: orange;
    }
  }
  &:before {
    opacity: 0;
    position: absolute;
    content: "";
    background: linear-gradient(
      90deg,
      transparent,
      blanchedalmond,
      white,
      blanchedalmond,
      transparent
    );
    filter: blur(3px);
    width: 20%;
    height: 150%;
  }

  h3 {
    font: {
      size: 1.5rem;
    }
    text-transform: capitalize;
  }
  svg {
    font: {
      size: 1.5rem;
    }
    color: orange;
  }
  span {
    display: inline-flex;
    align-items: center;
    gap: 0.3rem;

    color: orange;
    font: {
      size: 0.7rem;
    }
  }
}

.overlay {
  content: "£20";
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: -3rem;
  left: -1rem;
  font: {
    size: 7rem;
  }
  z-index: -1;
  color: rgba(248, 230, 196, 0.5);
}

.monthly {
  background-color: orange;
}

.oneOff {
  background-color: silver;
}

.hidden {
  display: none;
}

@keyframes appear {
  100% {
    opacity: 1;
  }
}

@keyframes shimmer {
  0% {
    opacity: 1;
    transform: translateX(-500%) rotateZ(30deg);
  }
  100% {
    opacity: 1;
    transform: translateX(500%) rotateZ(30deg);
  }
}

/* Tablet devices (768px to 1024px) */
@media (min-width: 768px) and (max-width: 1023px) {
  .plans {
    justify-content: space-between;
    border-radius: 0;
    height: 800px;
  }
  .cards {
    flex-flow: row wrap;
    align-items: center;
  }
  .card {
    width: 250px;
    height: calc(250px / ui.$e);
  }
}

/* Mobile devices (less than 768px) */
@media (max-width: 767px) {
  .plans {
    justify-content: space-between;
    border-radius: 0;
    height: auto;
  }
  .cards {
    flex-flow: row wrap;
    align-items: center;
  }
  .card {
    width: 250px;
    height: calc(250px / ui.$e);
  }
}
