@use "./ui.module.scss";
.plans {
  display: flex;
  flex-flow: column nowrap;
  gap: 3rem;
  padding: 3rem 2rem 0 2rem;
  background-color: ui.$majorelle-blue;
  border-top: {
    left-radius: 0.5rem;
    right-radius: 0.5rem;
  }
  h2 {
    color: white;
    text-transform: capitalize;
  }
  article {
    display: flex;
    justify-content: center;
    overflow: scroll;
    gap: 1rem;
  }
}

.animation {
  width: 300px;
  align-self: flex-end;

  canvas {
    object-fit: cover;
    margin-bottom: -1rem;
  }
}

.copy {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  button {
    display: inline-flex;
    align-items: center;
    gap: 0.3rem;
    padding: 1rem;
    width: 9rem;
    height: 3rem;
    border-radius: 2rem;
    text-transform: uppercase;
    font: {
      weight: bold;
    }
    svg {
      font-size: 1.5rem;
    }
  }
  span {
    color: white;
  }
  h2 {
    margin-top: 1rem;
  }
}

.thumbnails {
  display: flex;
  list-style-type: none;
  li {
    border: 3px solid ui.$soft-periwinkle;
    position: relative;
    height: 50px;
    aspect-ratio: 1;
    border-radius: 100%;
    overflow: hidden;

    img {
      object-fit: cover;
    }
    &:not(&:first-of-type) {
      margin-left: -1rem;
    }
  }
}
.card {
  opacity: 0;
  transition: all 1s;
  flex: 0 0 250px;
  height: calc(250px / ui.$e);
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  border: 1px solid ui.$soft-periwinkle;
  border-radius: 0.5rem;
  gap: 0.5rem;
  color: black;
  background-color: white;
  padding: 2rem 1rem;
  animation: appear 1s forwards;
  h3 {
    font: {
      size: 1.5rem;
    }
    text-transform: capitalize;
  }
  span {
    display: inline-flex;
    align-items: center;
    gap: 0.3rem;
    font: {
      // size: 0.7rem;
    }
  }
}

.monthly {
  background-color: orange;
}

.oneOff {
  background-color: silver;
}

.hidden {
  display: none;
}

@keyframes appear {
  100% {
    opacity: 1;
  }
}
