/* Colours */
$purple-100: #dccefc;
$purple: #8b5cf6;
$purple-500: #462e7b;
$purple-900: #0e0919;
$white: #ffffff;
$pink: #fbcfe8;
$black: #1f1f1f;
$yellow: rgb(255, 208, 0);

/* Font Sizes */
$xxxs: 3px;
$xxs: 8px;
$xs: 10px;
$s: 12px;
$m: 14px;
$l: 16px;
$xl: 20px;
$xxl: 24px;
$xxxl: 32px;
$xxxxl: 40px;
$h: 48px;
$xh: 64px;
$xxh: 80px;

/* Constants */
$e: 1.618;
