@use "./styles/ui.module.scss";
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  display: flex;
  flex-flow: column nowrap;
  color: ui.$black;
}

header{
  position: absolute;
  z-index: 2;
  // border: 1px solid red;
  width: 100dvw;
  height: 50px;
  padding: ui.$l ui.$h;
}


@media only screen and (max-width: 767px) {
  header {
    padding: ui.$xxs ui.$xl ;
  }
}
