@charset "UTF-8";
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

@font-face {
  font-family: "Black";
  src: url("../src/assets/fonts/barlow/Barlow-Black.ttf");
}
@font-face {
  font-family: "Regular";
  src: url("../src/assets/fonts/barlow/Barlow-Regular.ttf");
}
@font-face {
  font-family: "Bold";
  src: url("../src/assets/fonts/barlow/Barlow-Bold.ttf");
}
html {
  font-size: 16px;
  font-family: "Regular";
  color: hsl(211deg, 100%, 12%);
}

#root {
  position: relative;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  padding-top: 3rem;
  background-color: hsl(0deg, 12%, 97%);
}

.App {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  color: hsl(211deg, 100%, 12%);
  padding-top: 3rem;
  margin-bottom: 3rem;
  width: 1200px;
  min-height: 100vh;
  border: 1px solid hsl(268deg, 30%, 75%);
  border-radius: 0.5rem;
}

.Nav {
  display: flex;
  gap: 5rem;
  align-items: center;
  padding-left: 2rem;
  padding-right: 5rem;
}
.Nav img {
  width: 55px;
  aspect-ratio: 1;
  grid-column: 1/2;
  grid-row: 1/3;
}
.Nav ul {
  flex-grow: 1;
  display: flex;
  gap: 3rem;
  list-style-type: none;
}
.Nav ul li {
  text-transform: capitalize;
}
.Nav ul li:last-of-type {
  font-size: 1.3rem;
  margin-left: auto;
}
.Nav ul li a {
  display: block;
  transition: all 0.3s;
  font-size: 1.3rem;
  text-decoration: none;
}

.active {
  opacity: 1;
  color: hsl(268deg, 100%, 25%);
  transform: scale(1.1);
  font-family: "Bold";
}

.inactive {
  color: rgba(60, 0, 128, 0.5);
}

.logo {
  transform: none;
}

.Home {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
}

.Hero {
  display: flex;
  width: 100%;
}
.Hero article:first-of-type {
  flex: 0.6 0 60%;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-content: flex-start;
  row-gap: 1rem;
}
.Hero article:first-of-type h3 {
  flex: 1 0 100%;
  font-family: "Black";
  font-size: 2rem;
}
.Hero article:first-of-type p {
  font-size: 1.5rem;
}
.Hero article:last-of-type {
  display: flex;
  flex-flow: column nowrap;
  row-gap: 3rem;
  align-items: center;
  justify-content: space-between;
  flex: 0.4 0 40%;
  border-radius: 0.3rem;
  background-image: url("../src/assets/img/hero_background.png"), linear-gradient(0deg, hsl(268deg, 100%, 25%) 0%, transparent 100%);
  background-size: contain;
  clip-path: polygon(5% 0%, 100% 0%, 100% 100%, 25% 100%);
}
.Hero article:last-of-type img {
  width: 80%;
  filter: drop-shadow(1rem 0.8rem 0.5rem rgba(0, 0, 0, 0.5)) grayscale(0.8);
  align-self: flex-end;
  transform: scaleX(-1);
}

.howAdoptionWorks {
  width: 100%;
  display: flex;
  height: 60rem;
}
.howAdoptionWorks article:first-of-type {
  flex: 0.4 0 40%;
  background-image: url("../src/assets/img/how_adoption_works.jpg");
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-color: rgba(60, 0, 128, 0.1);
  min-height: 44rem;
}
.howAdoptionWorks article:last-of-type {
  flex: 0.6 0 60%;
  padding-top: 3rem;
  padding-left: 3rem;
  padding-bottom: 3rem;
  background-color: rgba(60, 0, 128, 0.1);
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  min-height: 30vh;
}
.howAdoptionWorks article:last-of-type ul {
  display: flex;
  flex-flow: column wrap;
  list-style-type: none;
  border-left: 3px solid hsl(268deg, 30%, 75%);
  font-size: 1.2rem;
}
.howAdoptionWorks article:last-of-type ul li {
  cursor: pointer;
  padding-right: 2rem;
  padding-bottom: 1.3rem;
  margin-left: -0.7rem;
}
.howAdoptionWorks article:last-of-type ul li details[open] summary {
  color: hsl(268deg, 100%, 25%);
}
.howAdoptionWorks article:last-of-type ul li details[open] summary:before {
  color: hsl(268deg, 100%, 25%);
}
.howAdoptionWorks article:last-of-type ul li details summary {
  text-transform: capitalize;
  list-style-type: none;
  font-family: "Bold";
}
.howAdoptionWorks article:last-of-type ul li details summary:before {
  content: "●";
  padding-right: 1rem;
  color: hsl(268deg, 30%, 75%);
  font-size: 2rem;
}
.howAdoptionWorks article:last-of-type ul li details p {
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  padding-left: 2.3rem;
}
.howAdoptionWorks article:last-of-type div {
  margin-top: auto;
}

.catWelfare {
  position: relative;
  display: flex;
  flex-flow: column nowrap;
}
.catWelfare div {
  scroll-snap-type: x mandatory;
  overflow-x: scroll;
  display: flex;
  gap: 1rem;
  overflow-x: scroll;
  width: 66rem;
  padding: 2rem;
  /* Hide scrollbar for Chrome, Safari and Opera */
  /* Hide scrollbar for IE, Edge and Firefox */
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.catWelfare div::-webkit-scrollbar {
  display: none;
}
.catWelfare article {
  scroll-snap-align: center;
  scroll-snap-stop: always;
  border: 1px solid rgba(60, 0, 128, 0.2);
  border-radius: 0.3rem;
  box-shadow: 0rem 0.1rem 0.5rem 0.2rem rgba(60, 0, 128, 0.2);
  flex: 1 0 20rem;
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  padding-bottom: 2rem;
}
.catWelfare article h3,
.catWelfare article p {
  padding-left: 1rem;
  padding-right: 1rem;
}
.catWelfare article a {
  text-decoration: none;
  color: hsl(211deg, 100%, 12%);
}
.catWelfare article p {
  color: hsl(268deg, 30%, 75%);
}
.catWelfare article img {
  border-top-right-radius: 0.3rem;
  border-top-left-radius: 0.3rem;
  margin-bottom: 1rem;
}
.catWelfare span {
  position: absolute;
  display: block;
  padding: 1rem;
  background-color: rgba(60, 0, 128, 0.3);
  z-index: 1;
  transition: all 0.3s;
  height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 0.3rem;
  width: 2rem;
}
.catWelfare span:first-of-type {
  left: -1rem;
  top: 50%;
}
.catWelfare span:last-of-type {
  right: -1rem;
  top: 50%;
}
.catWelfare span:hover {
  background-color: #3c0080;
  color: hsl(266deg, 35%, 87%);
}
.catWelfare img {
  width: 100%;
}

.contributions {
  display: flex;
  flex-flow: row wrap;
  column-gap: 5rem;
  justify-content: center;
}
.contributions article {
  flex: 0.25 0.25 25%;
  padding: 1rem;
}
.contributions article:first-of-type {
  flex: 1 0 100%;
}
.contributions article:not(.contributions article:first-of-type) {
  position: relative;
  display: flex;
  gap: 1rem;
  flex-flow: column nowrap;
  align-items: center;
  padding-top: 5rem;
  border: 2px solid hsl(268deg, 30%, 75%);
  border-radius: 0.3rem;
  height: 15rem;
}
.contributions article:not(.contributions article:first-of-type) img {
  position: absolute;
  top: -2rem;
  background-color: hsl(0deg, 12%, 97%);
  padding: 1rem;
}
.contributions article h4 {
  font-family: "Black";
  font-size: 1.5rem;
  text-align: center;
}
.contributions article a {
  display: block;
  position: absolute;
  bottom: -1rem;
  margin: 0;
}

.cats {
  position: relative;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}
.cats .carouselArrow {
  position: absolute;
  display: block;
  padding: 1rem;
  background-color: rgba(60, 0, 128, 0.3);
  z-index: 1;
  transition: all 0.3s;
  height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 0.3rem;
  width: 2rem;
  top: 7.25rem;
}
.cats .carouselArrow:first-of-type {
  left: 1rem;
}
.cats .carouselArrow:last-of-type {
  right: 1rem;
}
.cats .carouselArrow:hover {
  background-color: #3c0080;
  color: hsl(266deg, 35%, 87%);
}
.cats div {
  scroll-snap-type: x mandatory;
  overflow-x: scroll;
  display: flex;
  gap: 1rem;
  overflow-x: scroll;
  width: 62rem;
  padding-top: 2rem;
  /* Hide scrollbar for Chrome, Safari and Opera */
  /* Hide scrollbar for IE, Edge and Firefox */
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.cats div::-webkit-scrollbar {
  display: none;
}
.cats article {
  flex: 1 0 20rem;
  scroll-snap-align: center;
  scroll-snap-stop: always;
}
.cats article figure {
  background-color: hsl(268deg, 30%, 90%);
  border-top-left-radius: 0.3rem;
  border-top-right-radius: 0.3rem;
  position: relative;
  height: 7.5rem;
  position: relative;
  display: flex;
  flex-flow: row-reverse;
  justify-content: flex-start;
  padding-top: 1rem;
  padding-right: 1.5rem;
  padding-bottom: 1rem;
}
.cats article figure figcaption p {
  padding-bottom: 0.1rem;
  text-transform: capitalize;
  text-align: right;
}
.cats article figure figcaption p:first-of-type {
  font-family: "Bold";
  font-size: 1.3rem;
  color: hsl(268deg, 100%, 25%);
  cursor: pointer;
}
.cats article figure figcaption span {
  padding-top: 0.5rem;
  display: flex;
  gap: 0.5rem;
  justify-content: flex-end;
  color: hsl(268deg, 30%, 75%);
}
.cats article figure img {
  z-index: 1;
  width: 15rem;
  position: absolute;
  top: -4rem;
  left: -2.5rem;
  filter: drop-shadow(0.3rem 0.3rem 0.3rem rgba(0, 0, 0, 0.5));
}
.cats article details {
  padding: 1rem;
  border-bottom: 2px solid hsl(266deg, 35%, 87%);
  border-left: 2px solid hsl(266deg, 35%, 87%);
  border-right: 2px solid hsl(266deg, 35%, 87%);
  border-bottom-left-radius: 0.3rem;
  border-bottom-right-radius: 0.3rem;
  padding-top: 1em;
  cursor: pointer;
}
.cats article details p {
  padding-top: 1rem;
  padding-left: 1.5rem;
  padding-right: 1rem;
  text-align: left;
}
.cats article details p:last-of-type {
  text-align: right;
  color: hsl(268deg, 100%, 25%);
  font-size: 1rem;
  text-transform: uppercase;
}
.cats article details p:last-of-type span {
  color: hsl(268deg, 30%, 75%);
  padding-right: 0.5rem;
}
.cats article details summary {
  display: flex;
  align-items: end;
  gap: 0.5rem;
  list-style-type: none;
  font-size: 1rem;
  color: hsl(268deg, 30%, 75%);
}

.adoptionForm {
  padding: 0;
  display: flex;
  flex-flow: column nowrap;
  border: 2px solid hsl(268deg, 30%, 75%);
  border-radius: 0.3rem;
  width: 50%;
  margin: auto;
  margin-bottom: 3rem;
}
.adoptionForm form {
  padding: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column nowrap;
}
.adoptionForm form label {
  color: hsl(268deg, 30%, 75%);
  font-family: "Bold";
}
.adoptionForm form label:not(.adoptionForm form label:first-of-type) {
  font-size: 1.3rem;
  width: 100%;
  text-align: left;
  padding-bottom: 0.5rem;
}
.adoptionForm form input {
  margin-bottom: 1rem;
  width: 100%;
  border: none;
  outline: none;
}
.adoptionForm form input:-webkit-autofill, .adoptionForm form input:-webkit-autofill:hover, .adoptionForm form input:-webkit-autofill:focus, .adoptionForm form input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px hsl(0deg, 12%, 97%) inset !important;
  -webkit-text-fill-color: hsl(211deg, 100%, 12%) !important;
}
.adoptionForm form input[type=text], .adoptionForm form input[type=email], .adoptionForm form input[type=tel] {
  background-color: transparent;
  border-bottom: 2px solid hsl(268deg, 30%, 90%);
  font-family: "Regular";
  font-size: 1.5rem;
}
.adoptionForm form input:first-of-type {
  text-align: center;
  border: none;
  font-family: "Black";
  font-size: 2rem;
  padding-bottom: 1rem;
  color: hsl(211deg, 100%, 12%);
}
.adoptionForm form input[type=submit] {
  width: 50%;
  margin-top: 2rem;
}
.adoptionForm p {
  padding: 2rem;
  background-color: hsl(268deg, 30%, 90%);
  flex: 1 0 50%;
  text-align: justify;
  font-size: 0.8rem;
}

.helpUs {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
.helpUs article {
  transition: all 0.3s;
  display: flex;
  gap: 1rem;
  font-size: 1.3rem;
}
.helpUs article button {
  text-transform: uppercase;
  cursor: pointer;
  background-color: transparent;
  border: none;
  outline: none;
  color: hsl(268deg, 30%, 75%);
  font-size: 1.3rem;
}
.helpUs article button:focus {
  color: hsl(268deg, 100%, 25%);
}
.helpUs article span {
  text-transform: uppercase;
  color: hsl(268deg, 100%, 25%);
}
.helpUs div {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
.helpUs div article {
  display: flex;
  flex: 0.3 0.3 70%;
  flex-flow: column nowrap;
  align-items: center;
  gap: 1rem;
  min-height: 25rem;
  border: 2px solid hsl(268deg, 30%, 90%);
  border-radius: 0.3rem;
  padding: 2rem;
  text-align: center;
}
.helpUs div article:hover {
  transform: scale(1.1);
  box-shadow: 0rem 0.1rem 0.5rem 0.2rem rgba(60, 0, 128, 0.2);
}
.helpUs div article p:first-of-type {
  display: block;
  font-size: 3rem;
  width: 7rem;
  aspect-ratio: 1/1;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  padding: 1.5rem;
}
.helpUs div article p:first-of-type:before {
  content: "£";
}
.helpUs div article p:last-of-type {
  color: hsl(268deg, 30%, 75%);
}
.helpUs div article input {
  margin: 0;
  width: 100%;
}

.oneOff {
  border: 1px solid hsl(268deg, 30%, 75%);
}
.oneOff p:first-of-type {
  border: 2px solid hsl(268deg, 30%, 75%);
}

.monthly p:first-of-type {
  background-color: hsl(268deg, 30%, 90%);
  border: 2px solid hsl(268deg, 100%, 25%);
  color: hsl(268deg, 100%, 25%);
}
.monthly input[type=button] {
  background-color: hsl(45deg, 100%, 50%);
  color: hsl(268deg, 100%, 25%);
}

section {
  margin-top: 2rem;
  padding-left: 2rem;
  padding-right: 2rem;
  opacity: 0;
  animation-name: dissolveIn;
  animation-duration: 0.3s;
  animation-delay: 0.5s;
  animation-fill-mode: forwards;
}
section:not(section:first-of-type) {
  margin-top: 5rem;
}
@keyframes dissolveIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

h1 {
  font-family: "Black";
}

h2 {
  font-family: "Bold";
  text-transform: capitalize;
  margin-bottom: 2rem;
}

h3 {
  font-size: 1.5rem;
  font-family: "Bold";
  text-transform: capitalize;
}

.btn {
  display: inline-block;
  margin-top: 1rem;
  margin-right: 1rem;
  padding-right: 1rem;
  padding-left: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  text-transform: uppercase;
  text-decoration: none;
  font-family: "Bold";
  font-size: 1rem;
  border-radius: 0.3rem;
  cursor: pointer;
}
.btn:hover {
  transition: all 0.3s;
  opacity: 1;
}
.btn:hover {
  transform: translateY(-0.1rem);
}

.primaryBtn {
  color: hsl(0deg, 12%, 97%);
  background-color: hsl(268deg, 100%, 25%);
  border: 2px solid hsl(268deg, 100%, 25%);
}

.secondaryBtn {
  color: hsl(211deg, 100%, 12%);
  border: 2px solid rgba(0, 30, 61, 0.8);
}

.darkBkgBtn {
  color: white;
  background-color: rgba(60, 0, 128, 0.8);
  font-size: 1.2rem;
}
.darkBkgBtn:hover {
  background-color: rgba(0, 30, 61, 0.8);
  color: white;
}

footer {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  background-color: hsl(268deg, 100%, 25%);
  border-bottom-left-radius: 0.3rem;
  border-bottom-right-radius: 0.3rem;
  margin-top: auto;
  padding-top: 1rem;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-bottom: 1rem;
  color: rgba(220, 210, 233, 0.5);
  font-size: 0.9rem;
}
footer h2 {
  margin: 0;
}
footer article ul {
  list-style-type: none;
  display: flex;
}
footer article ul li a {
  transition: all 0.3s;
  color: rgba(220, 210, 233, 0.5);
  text-decoration: none;
  font-size: 1.3rem;
}
footer article ul li a:hover {
  color: #dcd2e9;
}
footer article img {
  filter: invert(0.3) brightness(2);
}
footer article:first-of-type ul {
  padding-top: 0.3rem;
  flex-flow: column wrap;
  gap: 0.5rem;
}
footer article:first-of-type ul a {
  font-size: 1rem;
}
footer article:first-of-type form {
  margin-top: 1rem;
  display: flex;
  flex-flow: column wrap;
}
footer article:first-of-type form input[type=email] {
  padding-right: 1rem;
  padding-left: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  height: 2.5rem;
  border-radius: 0.3rem;
  transition: all 0.3s;
  outline: none;
  background-color: transparent;
  border: 2px solid rgba(220, 210, 233, 0.5);
  color: hsl(266deg, 35%, 87%);
  font-family: "Bold";
}
footer article:first-of-type form input[type=email]:focus {
  border-color: #dcd2e9;
}
footer article:first-of-type form input[type=submit] {
  height: 2.5rem;
  width: 7rem;
  padding-right: 1rem;
  padding-left: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  margin-left: 0.5rem;
  border-radius: 0.3rem;
  border: none;
  text-transform: capitalize;
  font-family: "Bold";
}
footer article:nth-of-type(3) {
  flex-basis: 30%;
}
footer article:nth-of-type(3) ul {
  list-style-type: none;
  display: flex;
  gap: 1rem;
}
footer article:nth-of-type(3) ul li a {
  transition: all 0.3s;
  color: rgba(220, 210, 233, 0.5);
  font-size: 1.3rem;
}
footer article:nth-of-type(3) ul li a:hover {
  color: #dcd2e9;
}
footer article:nth-of-type(3) p {
  padding-top: 1rem;
  color: rgba(220, 210, 233, 0.5);
}

.subscribed {
  background-color: hsl(158deg, 49%, 47%);
}

.notSubscribed {
  background-color: hsl(266deg, 35%, 87%);
}

/*# sourceMappingURL=index.css.map */
